*, *::before, *::after{
  box-sizing:border-box;
  font-family: arial;
}

:root{
--main-bg-color: #114c63;
  --wrong-bg-color: red;
  --correct-bg-color: green;

}
/*padding margin width height
for background 
*/
 body{
   padding: 0;
   margin: 0;
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background-color: var(--main-bg-color);
 }
/* background color change 
if answers correct or not when javascript 
execute functions*/

body.correct
{
 color: var( --correct-bg-color);

}
body.wrong
  {
background-color: var( --wrong-bg-color);
}

/*the property of the quuez box
 (container) properties

*/
.container{
  width:800px;
  max-width:80%;
  background-color: #C1CCDB;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;

}
/* the button grid for four
answer buttons display on the background
*/
.btn-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  margin: 20px 0;
}
/* color and border radious for answer buttons
*/
.btn{
  --hue: var(--hue-neutral);
  background-color:#F002A5;
  border: 1px solid 2px;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
}.btn:hover{
  border: black;
  color: yellow;
}
/*if buttons correc or not */
.btn.correct{
  background-color:   var( --correct-bg-color);
}
.btn.wrong{
  background-color: var( --wrong-bg-color);

}

/*starting and next buttons property */
.start-btn, .next-btn{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px, 20px;
}

/*flex and allign for control */
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*hide or unhide the next button*/
.hide{
  display: none;
}

/*time counter property for quizz*/
#queez-time-left
{
  font-weight: bold;
  color:D57ABC;
}